{% extends 'layout.html' %}
{% block body %}

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="static/default.css">
    <div>
        <!--navigation-->
        <section class="smart-scroll">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span data-feather="grid"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="./periodique" style="color:black">Periodiques</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="./livre" style="color:black">Livres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll d-flex flex-row align-items-center text-danger" href="./home">
                                    <em data-feather="layout" width="18" height="18" class="mr-2"></em>
                                    HOME
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </div>
     <!--hero header-->
    <div>
     <h1 style="text-align: left;font-weight:bold" >Liste des Documents</h1>
     <table class="table table-dark table-hover table-sm table-bordered">
         <thead>
             <tr>
                 <th>ID</th>
                 <th>Année Publication</th>
                 <th>Titre</th>
                 <th>ID Editeur</th>
                 <th>Nombre Exemplaire</th>
             </tr>
         </thead>
         <tbody>
             {% for document in dox %}
                 <tr>
                     <td>{{ document["id_ref"] }}</td>
                     <td>{{ document["an_pub"] }}</td>
                     <td>{{ document["titre_doc"] }}</td>
                     <td>{{ document["id_editeur"] }}</td>
                     <td>{{ document["nbr_exemp"] }}</td>
                 </tr>
             {% endfor %}
         </tbody>
     </table>
 
     <form action="/deregister_2" method="post" class="mb-3">
         <div class="input-group mb-3" style="width: 75%;margin-left: 50px;" >
             <input  class="btn btn-danger" id="basic-addon1" type="submit" value="Delete" autocomplete="off">
             <input autocomplete="off" name="id" type="text" class="form-control" placeholder="Type ID" aria-describedby="basic-addon1">
         </div>
     </form>
 
     <form action="/querying_2" method="post" class="mb-3">
         <div class="input-group mb-3" style="width: 75%;margin-left: 50px;">
             <input style="color:white" class="btn btn-primary" id="basic-addon1" type="submit" value=" Query " autocomplete="off">
             <input autocomplete="off" name="query" type="text" class="form-control" placeholder="Add your Query" aria-describedby="basic-addon1">
         </div>
     </form>
 
     <form action="/doc_reg" method="post" class="mb-3">
         <div class="d-grid gap-2" style="width: 75%;margin-left: 50px;">
             <button type="submit" class="btn btn-success">Insert</button>
         </div>
     </form>
{% endblock %}