{% extends "layout.html" %}

{% block body %}
<link href="/static/style.css" rel="stylesheet" >
    <div>
      <div class="center-wrap">
        <div class="section text-center">
          </form>
          <h4 class="mb-4 pb-3" style="color:black">Sign Up</h4>
            <form action="/new_password" method="post">
              <div class="form-group mt-2">
                <input type="text" name="pass" class="form-style" placeholder="New Password" autocomplete="off">
                <i class="input-icon uil uil-lock-alt"></i>
              </div>
              <input id="login" class="btn mt-4" type="submit" value="submit">
            </form>
            </div>
          </div>
        </div>
{% endblock %}