{% extends "layout.html" %}

{% block body %}
<link href="/static/style.css" rel="stylesheet" >
<form action="/register_8" method="post">
    <div>
      <div class="center-wrap">
        <div class="section text-center">
          </form>
          <h4 class="mb-4 pb-3" style="color:black">Sign Up</h4>

              {% for prd_att in PDQ %}
                  <div class="form-group mt-2">
                    <input type="text" name="{{prd_att}}" class="form-style" placeholder="Type {{prd_att}}" autocomplete="off">
                    <i class="input-icon uil uil-lock-alt"></i>
                  </div>
              {% endfor %}
              <input id="login" class="btn mt-4" type="submit" value="submit">

            </div>
          </div>
        </div>
      </form>
{% endblock %}